* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Open Sans", sans-serif;
}

body {
  font-weight: normal;
  line-height: 1.75;
  font-size: 1em;
}

.bg {
  min-height: 100vh;
  background-color: #0d0d0d;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23252630' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23323341'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23121213' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2318181a' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%231c1d21' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23212128' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23252630' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%232b2c37' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2331313e' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23373745' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%233d3d4b' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23434352' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  padding: 4em;
  z-index: 2;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  z-index: 1;
  background: url("img/noise.png");
  border-radius: 0.625rem;
  box-shadow: 0 0 6rem 0 rgba(0, 0, 0, 0.45);
}

.main .inner {
  position: relative;
  width: 33rem;
  max-width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(#placeholder),
    linear-gradient(
      46deg,
      rgba(0, 119, 126, 0.635) 0%,
      rgba(0, 182, 190, 0.7) 100%
    ),
    url("https://images.pexels.com/photos/2317710/pexels-photo-2317710.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 0.625rem 0.625rem 0 0;
  padding: 3rem;
}
.header__image {
  display: block;
  max-width: 10em;
  line-height: 0;
  position: relative;
  border-radius: 100%;
  border: 0.6rem solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 6rem 0 rgba(0, 0, 0, 0.45);
}

.header__image img {
  object-fit: fill;
  object-position: center;
  width: 100%;
}
.header__name {
  color: #f5f5f5;
  font-size: 3rem;
  line-height: 1.375;
  font-weight: 700;
}
.header__subtitle {
  color: #f5f5f5aa;
  font-size: 1rem;
  line-height: 1.875;
  font-weight: 400;
}

.sns__wrapper {
  padding: 0;
  list-style: none;
}
.sns__link-container {
  padding: 3rem 2rem;
  border-bottom: 1px solid #434352aa;
}
.sns__link {
  display: flex;
  align-items: center;
  color: #f5f5f5aa;
  text-decoration: none;
  padding: 0 3rem;
  transition: 0.3s ease;
}
.sns__link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(46deg, #00b6be, #00777e);
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  margin-right: 2rem;
  transition: 0.3s ease;
}
.sns__link-logo .bx {
  font-size: 4.2rem;
  color: #0000009e;
}
.sns__link:hover {
  color: #fafafa;
}
.sns__link:hover .sns__link-logo {
  scale: 1.1;
}

.sns__link:hover .youtube {
  background-image: linear-gradient(46deg, #ff0000aa, #ff0000);
}

.sns__link:hover .twitch {
  background-image: linear-gradient(46deg, #6441a5aa, #6441a5);
}
.sns__link:hover .twitter {
  background-image: linear-gradient(46deg, #1da1f2aa, #1da1f2);
}
.sns__link:hover .tiktok {
  background-image: linear-gradient(46deg, #ff0050aa, #00f2ea);
}
.sns__link:hover .instagram {
  background-image: linear-gradient(46deg, #fccc63, #8a3ab9);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(#placeholder),
    linear-gradient(
      45deg,
      rgba(0, 119, 126, 0.635) 0%,
      rgba(0, 182, 190, 0.7) 100%
    ),
    url("https://images.pexels.com/photos/2317710/pexels-photo-2317710.jpeg");
  border-radius: 0 0 0.625rem 0.625rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0.6rem;
  padding: 1.4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 0.2rem solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
}

.button:hover {
  background-color: #fafafa;
  color: #00b6be;
  scale: 1.1;
  cursor: pointer;
}

.button:hover .bx {
  color: #00b6be;
}
.button .bx {
  color: #fafafa;
  font-size: 2rem;
  transition: 0.3s ease;
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 0;
  }
  .main {
    border-radius: 0;
  }
  .header {
    border-radius: 0;
  }
  .footer {
    border-radius: 0;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0rem;
  }
  .header__name {
    font-size: 2.4rem;
  }
  .sns__link-logo {
    width: 4rem;
    height: 4rem;
  }
  .sns__link-logo .bx {
    font-size: 3rem;
  }
  .sns__link-name {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 280px) {
  .header__name {
    font-size: 2rem;
  }
  .header__subtitle {
    font-size: 0.8rem;
  }
  .sns__link-container {
    padding: 2rem 0;
  }
  .sns__link-name {
    font-size: 1rem;
  }
}
